GOOGLE_CLIENT_ID=88227966282-r983435hthi1c3vni7eun2693k87vgod.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_OAUTH_REDIRECT_URI=postmessage
ADMIN_EMAILS=charif.nabin@gmail.com
ENABLE_DEV_LOGIN=false
